<nav class="navbar navbar-expand-lg nav-color py-4 fixed-top">
    <div class="container">
      <a class="navbar-brand main-font">START FRAMWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2 my-1">
            <a class="nav-link second-font d-inline" aria-current="page" routerLink = "about" routerLinkActive = "active rounded-3">ABOUT</a>
          </li>
          <li class="nav-item mx-2 my-1">
            <a class="nav-link second-font d-inline" routerLink = "portfolio" routerLinkActive = "active rounded-3">PORTFOLIO</a>
          </li>
          <li class="nav-item mx-2 my-1">
            <a class="nav-link second-font d-inline" routerLink = "contact" routerLinkActive = "active rounded-3">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
