<section class="pt-5">
    <div class="container mt-5 py-5">
        <h2 class="title text-center text-uppercase">conatct section</h2>
        <p class="text-center position-relative star"><i class="fa-solid fa-star"></i></p>
        <div class="d-flex justify-content-center">
            <form action="" class="p-5 w-75">
                <div class="input-container position-relative z-1">
                    <label for="userName" class="label z-2">user name : </label>
                    <input id="userName" type="text" name="userName" placeholder="userName" value="" class="w-100 border-0 py-3 position-relative z-3">
                </div> 
                <div class="input-container position-relative z-1">
                    <label for="userAge" class="label z-2">user Age : </label>
                    <input id="userAge" type="text" name="userAge" placeholder="userAge" value="" class="w-100 border-0 py-3 position-relative z-3">
                </div> 
                <div class="input-container position-relative z-1">
                    <label for="userEmail" class="label z-2">user Email : </label>
                    <input id="userEmail" type="email" name="userEmail" placeholder="userEmail" value="" class="w-100 border-0 py-3 position-relative z-3">
                </div> 
                <div class="input-container position-relative z-1">
                    <label for="userPassword" class="label z-2">user password : </label>
                    <input id="userPassword" type="password" name="userPassword" placeholder="userPassword" value="" class="w-100 border-0 py-3 position-relative z-3">
                </div> 
                <button class="btn text-white mt-4">send Message</button>
            </form>
        </div>

    </div>
</section>
