<section class="ifo-bg text-center py-4">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3 class="location">LOCATION</h3>
                <p class="address">2215 John Daniel Drive</p>
                <h4 class="address">Clark, MO 65243</h4>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="location">AROUND THE WEB</h3>
                <ul class="list-unstyled d-flex d-flex justify-content-center">
                    <li class=" rounded-circle p-2 icon-border d-flex justify-content-center align-items-center mx-1"><i class="fa-brands fa-facebook icon-style"></i></li>
                    <li class=" rounded-circle p-2 icon-border d-flex justify-content-center align-items-center mx-1"><i class="fa-brands fa-twitter icon-style"></i></li>
                    <li class=" rounded-circle p-2 icon-border d-flex justify-content-center align-items-center mx-1"><i class="fa-brands fa-linkedin-in icon-style"></i></li>
                    <li class=" rounded-circle p-2 icon-border d-flex justify-content-center align-items-center mx-1"><i class="fa-solid fa-globe icon-style"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="location">ABOUT FREELANCER</h3>
                <p class="address">Freelance is a free to use, licensed Bootstrap theme created by Route</p>

            </div>
        </div>
    </div>
</section>
